[Interface]
PrivateKey = $WGPrivateKey
ListenPort = $WIREGUARD_LISTENPORT
Address = $WGIPAddress/32
DNS = $WIREGUARD_DNS_SERVERS
PostUp = DROUTE=§(ip route | grep default | awk '{print §3}'); HOMENET='192.168.0.0/16'; HOMENET2='10.0.0.0/8'; HOMENET3='172.16.0.0/12'; ip route add §HOMENET3 via §DROUTE; ip route add §HOMENET2 via §DROUTE; ip route add §HOMENET via §DROUTE; iptables -I OUTPUT -d §HOMENET -j ACCEPT; iptables -A OUTPUT -d §HOMENET2 -j ACCEPT; iptables -A OUTPUT -d §HOMENET3 -j ACCEPT; iptables -A OUTPUT ! -o %i -m mark ! --mark §(wg show %i fwmark) -m addrtype ! --dst-type LOCAL -j REJECT
PreDown = DROUTE=§(ip route | grep default | awk '{print §3}'); HOMENET='192.168.0.0/16'; HOMENET2='10.0.0.0/8'; HOMENET3='172.16.0.0/12'; ip route del §HOMENET3 via §DROUTE; ip route del §HOMENET2 via §DROUTE; ip route del §HOMENET via §DROUTE; iptables -D OUTPUT ! -o %i -m mark ! --mark §(wg show %i fwmark) -m addrtype ! --dst-type LOCAL -j REJECT; iptables -D OUTPUT -d §HOMENET -j ACCEPT; iptables -D OUTPUT -d §HOMENET2 -j ACCEPT; iptables -D OUTPUT -d §HOMENET3 -j ACCEPT

[Peer]
PublicKey = $ServerPublicKey
AllowedIPs = $WIREGUARD_PEER_ALLOWED_IPS
Endpoint = $ServerIPAddress:$ServerListeningPort
#StaleSessionTimeout = $StaleSessionTimeout
PersistentKeepalive = $WIREGUARD_PEER_KEEP_ALIVE
